.icon {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;

  &.icon {
    @each $color in $theme-color-set {
      $color-name: nth($color, 1);
      $color-value: nth($color, 2);

      &--color-#{$color-name} .icon__visual {
        color: $color-value;
      }
    }

    &--link {
      text-decoration: none;
    }
  }

  .icon__visual {
    display: flex;
    justify-content: center;
    position: absolute;
    width: 100%;
    height: 100%;
		font-family: 'iconfont' !important;
 		font-style: normal;
  	font-weight: normal;
  	font-variant: normal;
  	text-transform: none;
  	line-height: 1;
		-webkit-font-smoothing: antialiased;
  	-moz-osx-font-smoothing: grayscale;

    &::before {
      display: flex;
      align-items: center;
    }
  }

  .icon__helper {
    padding: 100% 0 0 0;
    position: relative;
  }
}
