.wp-block[data-type="smt-theme/bloglisting"] .listing-blog .listing-blog__item .listing-blog__detail {
    position: relative;
}

.react-select{
    #react-select-2-input{
        box-shadow: none;;
    }
}

.section.section--blog-featured{
    a{
        pointer-events: none;
    }
}