// DEFINE COLOR SET ------------------------------------------------------------
// name | background-color | text-color | link-color

$theme-color-set: one #ffffff #39515e #bc1717, 
            two #f7f7f7 #39515e #bc1717,
            three #bc1717 #ffffff #ffffff, 
            four #59a7d4 #ffffff #ffffff,
            five #4ac8b5 #ffffff #ffffff, 
            six #607886 #ffffff #ffffff,
            seven #39515e #ffffff #ffffff, 
            eight #000000 #ffffff #ffffff;

// DEFINE COLOR SINGLE ---------------------------------------------------------
// color

$theme-color-one:  nth(nth($theme-color-set, 1), 2);
$theme-color-two:  nth(nth($theme-color-set, 2), 2);
$theme-color-three:  nth(nth($theme-color-set, 3), 2);
$theme-color-four:  nth(nth($theme-color-set, 4), 2);
$theme-color-five:  nth(nth($theme-color-set, 5), 2);
$theme-color-six:  nth(nth($theme-color-set, 6), 2);
$theme-color-seven:  nth(nth($theme-color-set, 7), 2);
$theme-color-eight:  nth(nth($theme-color-set, 8), 2);

// DEFINE BREAKPOINTS ----------------------------------------------------------
// name | breakpoint

$breakpoint-xs: xs 0 300px;
$breakpoint-set: sm 481px 370px, md 769px 670px, lg 1025px 860px,
  xl 1401px 1240px;

// DEFINE SECTION PADDINGS -----------------------------------------------------
// breakpoint | padding 1 | padding 2...

$section-padding-xs: xs 0px 30px 40px 60px 120px;
$section-padding-set: sm 0px 40px 60px 80px 180px, md 0px 40px 60px 80px 180px,
  lg 0px 60px 80px 120px 240px, xl 0px 60px 80px 120px 240px;

$section-padding-count: length($section-padding-set);

// SET NUMBER OF COLUMNS -------------------------------------------------------
$grid-column-count: 12 !default;
$grid-column-offset: ($grid-column-count - 1) !default;

// DEFINE COLUMN GAPS ----------------------------------------------------------
// breakpoint | gap 1 | gap 2...

$grid-gap-xs: xs 0px 20px 20px 20px;
$grid-gap-set: sm 0px 20px 20px 30px, md 0px 20px 30px 40px,
  lg 0px 20px 40px 60px, xl 0px 20px 40px 60px;
$grid-gap-count: length($grid-gap-xs);

// DEFINE COLUMN CONTENT PADDINGS ----------------------------------------------
// breakpoint | padding 1 | padding 2...

$grid-column-padding-xs: xs 0px 3px 10px 30px 40px;
$grid-column-padding-set: sm 0px 3px 20px 40px 50px, md 0px 3px 20px 40px 50px,
  lg 0px 3px 30px 50px 60px, xl 0px 3px 30px 50px 60px;

$grid-column-padding-count: length($grid-column-padding-set);
