.wp-block[data-type="smt-theme/section"] > .section {
    .section__content.block-editor-block-list__layout > .block-list-appender  {
        display: none;
    }  
}

.wp-block[data-type="smt-theme/section"].is-selected > .section {
    .section__content.block-editor-block-list__layout > .block-list-appender  {

        position: relative;
        display: block;
        flex-basis: 100%;
        max-width: 100%;
        margin: 0 0 var(--gap) 0;

        > .block-editor-inserter > button {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            width: 100%;
            height: auto;
            padding: 12px !important;
            box-shadow: inset 0 0 0 1px #007cba;
            color: #007cba;
            margin-bottom: 0;
            background: transparent;
      
            &.block-list-appender__toggle {
              
                &:hover {
                    color: #007cba;
                    background: transparent;
                }
            }
        }
    }  
}