.image {
  &.image {
    display: block;
    position: relative;
    margin-bottom: 20px;

    picture {
      display: block;
      position: relative;
      width: 100%;

      img {
        width: 100%;
        height: auto;
      }
    }

    figcaption {
      position: absolute;
      bottom: 0px;
      left: 0px;
      background: rgba(255,255,255,0.7);
      padding: 8px;
      font-size: 14px;
      font-family: $theme-font-one;
      color: $theme-color-seven;
    }
  }
}

@media screen and (min-width: 481px) {
  .image {
    &.image {
      margin-bottom: 30px;
    }
  }
}

@media screen and (min-width: 1025px) {
  .image {
    &.image {
      margin-bottom: 40px;

      figcaption {
        padding: 10px;
        font-size: 16px;
      }
    }
  }
}
