// color setting
.components-panel__body.block-color-setting {
  border: 0px;
  margin-top: 30px;
  padding-left: 0px;
  padding-right: 0px;
  &.block-color-top-0 {
    margin-top: 0px;
    padding-top: 0px;
  }
  .components-panel__body-title {
    padding-top: 0px;
    &:hover {
      background: transparent;
    }
  }
  .components-panel__body-toggle {
    pointer-events: none;
    span:first-child {
      display: none;
    }
  }
}

//  row block
.block--row__settings {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 24px;
  position: relative;
  button.components-range-control__reset:not(.align--reset) {
    position: relative;
    top: unset;
    right: unset;
  }
  > .components-base-control {
    width: 100%;
    margin: 0px;
    .components-base-control__field {
      margin: 0px;
    }
  }
  &.block--row__col {
    flex-direction: column;
    > button {
      margin: 10px auto 0px;
      width: 100%;
      justify-content: center;
      position: relative;
      top: unset;
      right: unset;
    }
  }
  .align--reset {
    top: -5px;
  }
}
.col-control {
  .col-control-wrap {
    button.components-range-control__reset:not(.align--reset) {
      margin-left: 10px;
      position: relative;
      top: unset;
      right: unset;
    }
  }
}

// toggle option
.block-toggle {
  div:nth-child(3) {
    flex: 0.5 0.5 0%;
  }
  div:nth-child(4) {
    flex: 1.3 1.3 0%;
  }
  div:last-child {
    flex: 1.2 1.2 0%;
  }
}
// image replace and remove button
.block-section-background-image-replace {
  margin: 15px 0px 10px;
  display: block;
}
.components-button.block-section-background-image-remove {
  margin-bottom: 0px;
  text-decoration: none;
  &:hover:not(:disabled) {
    box-shadow: unset;
  }
  &:focus {
    outline: unset;
  }
}
.editor-post-featured-image__preview {
  img {
    width: auto;
  }
}
// show toggle in full width
.block-toggle-full {
  width: 100%;
}
// add border between option
.block-seprator {
  border-top: 1px solid #607886;
  display: block;
  margin: 0px 0px 25px;
}
// reset button
.components-button.block--reset-btn {
  height: 30px;
}
// add top margin on option
.block-mt {
  margin-top: 24px;
}

// reset
.block--component-align {
  position: relative;
  .block--label-as-component-button {
    margin-bottom: 20px;
    display: inline-block;
  }
}
.components-range-control__reset {
  position: absolute;
  top: 32px;
  right: 0px;
}
// alignment option
.block-togglegroup {
  > div:not(:first-child) {
    button {
      width: 100%;
    }
  }
  > div[data-active="true"] {
    button {
      color: #fff;
    }
  }
}

// placeholder image
.placeholder__img {
  img {
    width: 100%;
  }
}

// section block appender
.block-editor-block-list__block.wp-block-smt-theme-section {
  &.is-selected {
    .section__content > .block-list-appender {
      display: block;
    }
  }
  .section__content > .block-list-appender {
    position: relative;
    display: none;
  }
}

// reset
.resetAlign {
  position: absolute;
  right: 16px;
}

// anchor tag decoration
.editor-styles-wrapper .wp-block a {
  text-decoration: none;
}

.wp-block-smt-theme-content-slider {
  &__controls-wrapper {
    display: flex;
    align-items: center;
  }

  &__controls-arrows {
    margin-left: 10px;
    direction: ltr;

    button {
      margin-left: 5px;
    }
  }

  &__controls-actions {
    margin-right: auto #{"/*rtl: 0 */"};
    /*rtl:raw: margin-left: auto; */
  }

  &__controls-slides {
    margin-left: 15px #{"/*rtl: 0 */"};
    /*rtl:raw: margin-right: 15px; */
  }
}

// section ovrflow
.section {
  overflow: hidden;
  .section__content {
    overflow: unset;
  }
}

.gb--link-control {
  .block-editor-link-control__search-item-top {
    flex-wrap: wrap;
    overflow: auto;
    .block-editor-link-control__unlink {
      margin-left: 0px;
    }
  }
}

// prevent to click for backend editor
.listing-course a,
.listing-event a,
.preview-blog a,
.listing-report a,
.listing-blog a,
.listing-job a,
.listing-partner a,
.preview-partner a,
.report-slider a,
.listing-team a,
.contact-person a {
  pointer-events: none;
}
