@media screen and (min-width: 481px) {
  main {
    padding-left: 70px;
  }
}
@media screen and (min-width: 1025px) {
  main {
    padding-left: 80px;
  }
}
@media screen and (min-width: 1401px) {
  main {
    padding-left: 100px;
  }
}
