.youtube.youtube--small {
  position: relative;
  cursor: pointer;
  height: auto;
  padding: 60% 0 0 0;
  overflow: hidden;
  margin-bottom: 20px;

  .youtube {
    &__link {
      display: block;
      width: 100%;
      height: 100%;
      overflow: hidden;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
    }

    &__image-helper {
      display: inline-block;
      width: 100%;
      height: 100%;

      img {
        height: 100%;
        width: 100%;
        object-fit: cover;
      }
    }

    &__icon {
      width: 70px;
      height: 70px;
      border-radius: 100%;
      border: 10px solid rgb(229 229 229 / 20%);
      background-color: rgba(255, 255, 255, 0.45);
      position: absolute;
      left: 0px;
      right: 0px;
      top: 0px;
      bottom: 0px;
      margin: auto;

      svg {
        position: absolute;
        top: 0px;
        right: 0px;
        bottom: 0px;
        left: 2px;
        margin: auto;
        width: 18.14px;
        height: 21.13px;
      }
    }

    &__overlay {
      position: absolute;
      bottom: 0px;
      left: 0;
      right: 0;
      width: 100%;
      height: auto;
    }
  }

  &.youtube--shape {
    &-bottom {
      &.youtube--shape {
        &-left {
          clip-path: polygon(0 0, 100% 0%, 100% 90%, 0 100%);
        }

        &-right {
          clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 90%);
        }
      }
    }
  }
}

@media screen and (min-width: 481px) {
  .youtube.youtube--small {
    margin-bottom: 40px;

    .youtube {
      &__icon {
        width: 110px;
        height: 110px;
        svg {
          width: 28.46px;
          height: 33.16px;
        }
      }
    }
    /*
    &.youtube--shape {
      
      &-bottom {
  
        &.youtube--shape {
      
          &-left {
            clip-path: polygon(0 0, 100% 0%, 100% calc(100% - 70px), 0 100%);
          }
  
          &-right {
            clip-path: polygon(0 0, 100% 0, 100% 100%, 0% calc(100% - 70px));
          }
        }
      }
    }
*/
  }
}

@media screen and (min-width: 769px) {
  .youtube.youtube--small {
    .youtube {
      &__icon {
        width: 110px;
        height: 110px;
        svg {
          width: 28.46px;
          height: 33.16px;
        }
      }
    }
    /*
    &.youtube--shape {
      
      &-bottom {
  
        &.youtube--shape {
      
          &-left {
            clip-path: polygon(0 0, 100% 0%, 100% calc(100% - 90px), 0 100%);
          }
  
          &-right {
            clip-path: polygon(0 0, 100% 0, 100% 100%, 0% calc(100% - 90px));
          }
        }
      }
    }
*/
  }
}

@media screen and (min-width: 1025px) {
  .youtube.youtube--small {
    margin-bottom: 60px;

    .youtube {
      &__icon {
        width: 110px;
        height: 110px;
        svg {
          width: 28.46px;
          height: 33.16px;
        }
      }
    }
    /*
    &.youtube--shape {
      
      &-bottom {
  
        &.youtube--shape {
      
          &-left {
            clip-path: polygon(0 0, 100% 0%, 100% calc(100% - 120px), 0 100%);
          }
  
          &-right {
            clip-path: polygon(0 0, 100% 0, 100% 100%, 0% calc(100% - 120px));
          }
        }
      }
    }
*/
  }
}

@media screen and (min-width: 1401px) {
  .youtube.youtube--small {
    .youtube {
      &__icon {
        width: 110px;
        height: 110px;
        svg {
          width: 28.46px;
          height: 33.16px;
        }
      }
    }
    /*
    &.youtube--shape {

      &-bottom {
  
        &.youtube--shape {
      
          &-left {
            clip-path: polygon(0 0, 100% 0%, 100% calc(100% - 140px), 0 100%);
          }
  
          &-right {
            clip-path: polygon(0 0, 100% 0, 100% 100%, 0% calc(100% - 140px));
          }
        }
      }
    }
*/
  }
}
