@import "../../../styles/_variable.scss";

.section .wp-block[data-type="smt-theme/accordion"] > .accordion {
  > .block-list-appender {
    position: relative;
    display: none;

    > button {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      width: 100%;
      height: auto;
      padding: 12px;
      box-shadow: inset 0 0 0 1px #007cba;
      color: #007cba;
      margin-bottom: 20px;
    }
  }
}

.wp-block[data-type="smt-theme/accordion"].is-selected > .accordion,
.wp-block[data-type="smt-theme/accordion"].has-child-selected > .accordion {
  > .block-list-appender {
    display: block;
  }
  > .accordion-item.is-selected {
    > .accordion-item__header {
      svg {
        transform: rotate(0deg);
      }
    }
  }
}

.wp-block[data-type="smt-theme/accordionitem"]
  > .accordion-item__content
  > .accordion-item__content-helper {
  > .block-list-appender {
    button {
      box-shadow: inset 0 0 0 1px #007cba;
      color: #007cba;

      &.block-list-appender__toggle {
        color: $theme-color-one;
        box-shadow: none;
      }
    }
  }
}

.wp-block[data-type="smt-theme/accordionitem"].is-selected
  > .accordion-item__content,
.wp-block[data-type="smt-theme/accordionitem"].has-child-selected
  > .accordion-item__content {
  max-height: none;
}
